/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%; /* Asegura que ocupen el 100% de la pantalla */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita desbordamientos laterales si es necesario */
}


.auth-buttons button {
  margin-left: 15px;
  padding: 10px 15px;
  background-color: #ff6b6b;
  color: d8dce7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-buttons button:hover {
  background-color: #ff5252;
}





